body{
  background-color:rgb(204, 204, 204)
}

.list-group-item{
  line-height: 0.5;
  border: none;
}
.card-body{
  flex:auto
}

span.severe{
  background-color: red;
  color:white;
}

span.moderate{
  background-color: yellow;
}

span.favorable{
  background-color: green;
  color:white;
}


